h1{
      font-size:xx-large ;
      text-align: center;
      text-decoration: aqua;
      font-style: oblique;
}
p{
     font-style: italic;
     color: blue;
      text-align: center;
}
h2{
      background-size: contain;
      text-shadow: lvh;
      text-align: center;
      text-shadow: 10cap;
      color: purple;
      
}